body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.header-content {
    padding: 60px 0;
    animation: fadeIn 2s ease;
}

header h1 {
    margin: 10px 0;
    font-size: 3em;
}

header p {
    font-size: 1.5em;
    margin: 10px 0;
}

.section {
    padding: 60px 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    animation: slideUp 1s ease;
}

.section:nth-child(even) {
    background-color: #f4f4f4;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.projects-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    flex: 1 1 calc(33.333% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project p {
    margin: 0;
}

#contact p {
    text-align: center;
    margin: 5px 0;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
